@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
@layer components{
   .code-param{
    @apply text-red-500;
   }
   .output-param{
    @apply text-blue-800;
   }
}